<html>
<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  <link rel="stylesheet"  href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
</head>
<body>

  <div class="card mt-50 mb-50 mx-auto">
    <div class="card-title mx-auto"> ClickPark</div>
    <div class="nav">
      <ul class="mx-auto">
        <li><a href="#"></a>Recuerde pagar los servicios usados en Click Park.</li>
      </ul>
    </div>
  </div>
</body>
</html>
